

P{
    color: aqua;
    background-color: black}

a:link{color:red;
}

a:hover{
    color:yellow;
}

a:visited{
    color:green;
}

h3{
    background-color:black;
    color:aqua;
}

h2{
    background-color: black;
    color:aqua;
}

h4{
    background-color: black;
    color: aqua;
}

.changecolor{
    background-color: black;
    color: aqua;
}